.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2f855a;
    color: white;
    border-bottom: 3px solid #38a169;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.navigation {
    display: flex;
    gap: 12px;
}

.nav-btn {
    padding: 8px 14px;
    background: #38a169;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #48bb78;
    transform: translateY(-2px);
}



@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .navigation {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-btn {
        padding: 10px 20px;
        width: 45%;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .nav-btn {
        width: 100%;
    }
}

body {
    background-color: #f0fff4;
    font-family: var(--font-sans);
    margin: 0;
}


