.nav-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #306E02;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid black;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #76A85B;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-left: 0;
    }
    .nav-btn {
        width: 90%;
        text-align: center;
    }
}
/* Users */
.sidebar{
    padding: 15px;
    background-color: #f0f0f0;
    min-height: 100vh;
}
.userbox {
    background-color: #f0f0f0;  /* svetlošedé pozadie */
    color: #333;                 /* farba textu */
    border-radius: 20px;         /* zaoblené rohy */
    padding: 5px 12px;           /* vnútorný padding */
    font-weight: 500;            /* stredne tučný text */
    transition: background 0.3s, color 0.3s; /* jemná animácia pri hover */
}
.userbox:hover {
    background-color: #306E02;   /* tmavozelené pozadie pri hover */
    color: white;                /* biela farba textu pri hover */
}


